 .container {
    display:block;
    color:black;
    
 }

 .background {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh; 
   background-color: rgb(149, 152, 163);
   
 }
 
 .cont1 {

   padding: 20px;
   border-radius: 8px;
  
   width: 500px;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   text-align: center; 
  
}

 .line {
    margin-bottom: 10px;
    margin-top: 20px;
 }
 
 h1 {
    margin-bottom: 60px;
    
 }

 button {
    margin-top: 40px;
 }

 body {
   margin: 0;
   padding: 0;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:rgb(149, 152, 163);
 }
 
 input {
   width: 60%; 
   padding: 11px; 
   font-size: 16px; 
   border-radius: 10px;
   border: 1px solid #ccc; 
   background-color: white;
   color: #333;
   margin-bottom: 1px;
}


input:focus {
   outline: none; 
   border-color: #888; 
}
input::placeholder {
   color: #888; 
   opacity: 1; 
}

.error {
   color: rgb(
      49, 52, 71
      );
   font-size: 12px;
   margin-top: 4px;
}

button {
   background-color: rgb(
   49, 52, 71
   );
}

